<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.jpg">
    <link rel="stylesheet" href="/css/style.css">
           
</head>
<body>
    <div class="main-content">
{{>header}}
<p>this site to get your address</p>
<form>
    <input placeholder="location">
    <button>Search</button>
    <p id="message-1"></p>
    <p id="message-2"></p>
</form>
{{>footer}}
 <script src="js/app.js"></script>
</div>
</body>
</html>